section.head
    .container
        .row
            .col-md-5
                img(src="img/logo.png", alt="logo")
            .col-md-7 
                nav.menu
                    ul
                        li 
                            a(href="") HOME
                        li
                            a(href="") ABOUT
                        li
                            a(href="") WORK
                        li 
                            a(href="") BLOG
                        li
                            a(href="") CONTACT

