extends _layout/layout.pug
block main 
	//- phần banner
	section.home_banner
		.container
			.row
				.col
					h1 Hi there! We are the new kids on the block 	
					| and we build awesome websites and mobile apps.
					p
						a.btn.btn_more(href="#") WORK WITH US!
	//-phần services
	section.home_services
		.container
			.row
				.col
					h2 SERVICES WE PROVIDE
					p We are working with both individuals and businesses from all over the globe 
					| to create awesome websites and applications.
			.row.home_services_icon
				.col-md-3
					figure
						a(href="#") 
							img(src="img/home_icon_1.png", alt="icon1")
						figcaption
							h3 Branding
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
				.col-md-3
					figure
						a(href="#") 
							img(src="img/home_icon_2.png", alt="icon2")
						figcaption
						h3 Design
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem 
				.col-md-3
					figure
						a(href="#") 
							img(src="img/home_icon_3.png", alt="icon3")
						figcaption
							h3 Development
							p At vero eos et accusamus et iusto odio dignissimos qui blanditiis praesentium.
				.col-md-3
					figure
						a(href="#") 
							img(src="img/home_icon_4.png", alt="icon4")
						figcaption
							h3 ROCKET SCIENCE
							p Et harum quidem rerum est et expedita distinctio. Nam libero tempore.
	//-phần team
	section.home_team
		.container
			.row
				.col
					h2 MEET OUR BEAUTIFUL TEAM
					p We are a small team of designers and developers, who help brands with big ideas.
			.row.home_team_avt
				.col-md-3
					figure
						a(href="#")
							img(src="img/home_avatar.png", alt="avt", class="avt") 
						figcaption
							h4 ANNE HATHAWAY
							p
								a(href="") CEO / Marketing Guru
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
				.col-md-3
					figure
						a(href="#")
							img(src="img/home_avatar.png", alt="avt", class="avt") 
						figcaption
							h4 KATE UPTON
							p
								a(href="") Creative Director
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
				.col-md-3
					figure
						a(href="#")
							img(src="img/home_avatar.png", alt="avt", class="avt") 
						figcaption
							h4 OLIVIA WILDE
							p
								a(href="") Lead Designer
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
				.col-md-3
					figure
						a(href="#")
							img(src="img/home_avatar.png", alt="avt", class="avt") 
						figcaption
							h4 ASHLEY GREENE
							p
								a(href="") SEO / Developer
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.

